.canvas{
  background-color: cornflowerblue;
  border: 2px solid black;
}
.App{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 28px;
  background-color: cornflowerblue;
  margin-top: 10px;
  padding: 15px;
}
.start-button{
  margin: 0px;
  /* margin-right: 15px; */
  
}
.header-section{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}