.canvas{
  background-color: cornflowerblue;
  border: 2px solid black;
}
.App{
  text-align: center;
}
h1{
  text-align: center;
  font-size: 28px;
  background-color: cornflowerblue;
  margin-top: 10px;
  padding: 15px;
}