.canvas{
  border: 4px solid black;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.App{
  text-align: center;
  background-color: #94C973;
}
h1{
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  padding: 15px;
  font-family: 'Press Start 2P';
}
.sub-title{
  font-family: 'Inconsolata', monospace;
  margin: 0px;
}
header{
  padding: 10px;
}
.start-button{
  margin: 10px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: large;
  
}
.header-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.score-section{
  margin: 15px;
  font-family: 'Inconsolata', monospace;
  font-size: larger;
  font-weight: bolder;
}
div.toast-alert{
  justify-content: center;
  margin-bottom: 15px;
  justify-content: space-around;
}
.game-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
ToastBody{
  padding: 10px;
}
.alert-text{
  margin: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: larger;
  word-spacing: -4px;
}
.close-button{
  margin: 10px;
  font-family: 'Inconsolata', monospace;
  font-size: larger;
  font-weight: bold;
  background-color: orange;
}
.top{
  transform:  rotate(180deg) translate(-100%, -100%);
}